html {
    min-height: 100vh;
    background-color: var(--bg-primary);
    color: var(--color);
    
}

input, textarea {
    outline: 0px ;
    background: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: black;
    --bg-secondary: #16181c9f;
    --button-primary: rgb(0, 186, 124);
    --color: white;
    --svg: rgb(247, 249, 249);
  }    
}


.svg-icon {
  width: 1em;
   height: 1em;
  vertical-align: middle;
  color: var(--svg);
  fill: currentColor;
  overflow: hidden;
}

:root {
    --bg-primary: white;
    --bg-secondary: rgba(171, 182, 182, 0.774);
    --button-primary: rgb(0, 186, 124);
    --svg: rgb(15, 20, 25);
    --color: black;
}

.trend:hover, li:hover {
    background-color: var(--button-primary) ;
    color: white ;
}

svg {
  fill: currentColor;
  color: var(--svg)
}

#svg {
  background-color: transparent;
  color: var(--svg)
}


.options .buttons * {
  fill: var(--button-primary)
}

.trend * {
  background-color: inherit ;
  color: inherit ;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }


.load {
  width: 50px;
  height: 50px;
  margin: 40px auto 0;
  border: solid 5px var(--button-primary) ;
  border-radius: 50%;
  border-right-color: transparent ;
  border-bottom-color: transparent ;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.tagging {
  box-shadow: rgba(101, 119, 134, 0.8) 2px 2px 2px 2px;
}