#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

input, textarea {
    outline: 0px !important;
    background: transparent;
}

#root * {
    color: black;
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    #root * {
        color: white;
        background-color: black;
    }
}

.self {
    align-self: flex-end;
    max-width:60%;
    background-color: rgb(67, 156, 219);
    color: white;
    padding: 2em 1em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 15%;
}

.others {
    align-self: flex-start;
    max-width:60%;
    background-color: rgb(121, 128, 133);
    color: white;
    padding: 2em 1em;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
}

:root {
    --button-primary: rgb(38, 144, 38);
    --button-secondary: rgb(27, 70, 27);
    --bg-dark: black;
    --bg-light: white;
    --color-light: black;
    --color-dark: white;
}

.trend:hover, li:hover {
    background-color: rgb(38, 144, 38) !important;
    color: white !important;
}

.trend * {
    background-color: inherit !important;
    color: inherit !important;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  .load {
    width: 50px;
    height: 50px;
    margin: 110px auto 0;
    border: solid 10px #8822aa;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }