html {
    height: 100vh;
    background-color: var(--bg-primary);
    color: var(--color);
    
}

input, textarea {
    outline: 0px !important;
    background: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: black;
    --bg-secondary: #16181c9f;
    --color: white;
    --svg: rgb(247, 249, 249);
  }
    
    svg {
      color: var(--svg)
    }
    #svg {
      color: var(--svg)
    }
    .buttons {
      color: rgb(83, 100, 113)
    }

    #sidebar {
      background-color: rgb(21, 32, 43);
    }

    #sidebar svg {
      color: var(--svg)
    }
    #liked {
      color: rgb(249, 24, 128) !important;
      
    }
    
    #retweet {
      color: var(--button-primary) !important;
    }
    

    
}

.self {
    align-self: flex-end;
    max-width:60%;
    background-color: rgb(67, 156, 219);
    color: white;
    padding: 2em 1em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 15%;
}

.others {
    align-self: flex-start;
    max-width:60%;
    background-color: rgb(121, 128, 133);
    color: white;
    padding: 2em 1em;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
}

.svg-icon {
  width: 1em;
   height: 1em;
  vertical-align: middle;
  color: var(--svg);
  fill: currentColor;
  overflow: hidden;

}

:root {
    --bg-primary: white;
    --bg-secondary: rgba(171, 182, 182, 0.774);
    --button-primary: rgb(0, 186, 124);
    --svg: rgb(15, 20, 25);
    --color: black;
}

#sidebar svg {
  color: var(--svg);
}

.trend:hover, li:hover {
    background-color: var(--button-primary) !important;
    color: white !important;
}
svg {
  fill: currentColor;
  color: var(--svg)
}
#svg {
  background-color: transparent;
  color: var(--svg)

}
.options .buttons * {
  fill: var(--button-primary)
}

.trend * {
  background-color: inherit !important;
  color: inherit !important;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  .load {
    width: 50px;
    height: 50px;
    margin: 110px auto 0;
    border: solid 5px var(--button-primary) !important;
    border-radius: 50%;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

.tagging {
  box-shadow: rgba(101, 119, 134, 0.8) 2px 2px 2px 2px;
}

#primary {
  color: var(--button-primary);
  fill: var(--button-primary);
}
#liked {
  fill: rgb(249, 24, 128);
  
}

#retweet {
  fill: var(--button-primary) !important;
}
.liked {
  fill: rgb(249, 24, 128) !important;
  
}

.retweet {
  fill: var(--button-primary) !important;
}

#quote:hover {
  background-color: var(--button-primary);
}

.contain svg:hover {
  transform: scale(1.25);
}